/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #eee;
	background-image: url("../img/bg.jpg");
	background-repeat: repeat;
}

hr {
	border-color: #ddd;
	border-bottom: thin solid white;
}
.page-header {
	border-color: #ddd;
}

h2 {
	/*font-family: "globalmedium_stencil", "Arial", sans-serif;*/
}
#zoner-typer .row > * {
	margin-bottom: 2em;
}
#zoner-typer .row {
	border-bottom: thin solid #ddd;
}

#zoner-typer img {
	margin-top: 1em;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.zone, .bundle {
	position: relative;
}
.zone:before,
.bundle:before {
	font-weight: 100;
	text-transform: uppercase;
	color: #999;
	font-size: 16pt;
	text-shadow: -1px 0 0 rgba(255,255,255,1);
	display: block;
	position: absolute;
	border-bottom: 1px solid #ccc;
	padding: 1em 1em 0.5em;
	right: 100%;
	margin-top: 2em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.zone:before {
	content: "Zoner";
}
.bundle:before {
	content: "Bundles";
}
.expand {
	padding-bottom: 100px;
}
.gallery {
	padding: 0 0 60px;
}
.gallery .row > * {
	margin-top: 30px;
}
.gallery .d,
.gallery .m {
	text-align: center;
}
.gallery .i {
	margin-top: 80px;
}
.gallery .d:before,
.gallery .m:before {
	/*font-family: "globalmedium_stencil", "Arial", sans-serif;*/
	font-weight: 100;
	text-transform: uppercase;
	color: #999;
	font-size: 16pt;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	display: block;
}
.gallery .d:before {
	content: "Desktop";
}
.gallery .m:before {
	content: "Mobil";
}
.boxed {
	background-color: white;
	background-color: rgba(255,255,255,0.8);
	padding: 0.1em 2.5em 1em;
}
.boxed ~ * {
	margin-top: 2em;
}
.list {
	background-color: #ddd;
	background-color: rgba(0,0,0,0.1);
	padding: 0.5em 1em 1em;
}
.anchor {
	padding-top: 3em;
}
.img-wrap {
	display: inline-block;
	max-width: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	border-radius: 3px;
	overflow: hidden;
}
.img-wrap img {
	max-width: 100%;
	height: auto;
}
